navbar {
    background-color: #CA965C;
    
}
a {
    color: whitesmoke;
}
h1 {
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    color: #C56824;
}
h2 {
    font-family: monospace;
    font-weight: bold;
    color: #C56824;
}
h5 {
    font-family: monospace;
    font-weight: bold;
    color: #C56824;
}
body {
    background-color: #E9ECEF;
}
ul {
    color: whitesmoke;
    font-weight: bold;
}
section {
    margin-bottom: 100px;
}
space {
    margin-bottom: 200px;
}

